./target
.classpath
.project
.settings
/bin

medusa-core/target
medusa-core/.classpath
medusa-core/.project
medusa-core/.settings
medusa-core/bin/

medusa-desktop/hs_err*
medusa-desktop/target
medusa-desktop/.classpath
medusa-desktop/.project
medusa-desktop/.settings
medusa-desktop/bin/

